---
import Layout from '@layouts/Layout.astro';
import Main from '@components/Main.astro';
---

<Layout title="Welcome to my space">
	<Main>
		<!-- <H1 text="some stuffs"></H1> -->
			<p>i'm a software engineer passionate about discovering things and helping people through technology</p>
			<p>involved with the javascript ecosystem and passionate about golang</p>
			<p>if you are interested in contacting me, feel free to dm me on linkedin and check out my projects on github:</p>
			<ul class="justify-between">
				<li class="flex gap-x-6 py-5">
					<a href="https://www.linkedin.com/in/samuelteixeira1337"> linkedin</a>
					<a href="https://www.github.com/steixeira93">github</a>
				</li>
			</ul>

	</Main>
	<style>
		p {
			font-size: 1.2rem;
			line-height: 1.5;
			margin-top: 1rem;
			font-family: 'Quicksand-Light';
			src: url('../../public/fonts/Quicksand-Light.ttf') format('ttf');
		}
		
		a {
			font-size: 1.1rem;
			line-height: 1.5;
			margin-top: 0.01rem;
			margin-left: 0.03rem;
			font-family: 'Nunito-Regular';
			src: url('../../public/fonts/Nunito-Regular.ttf') format('ttf');
			color: #000;
			text-decoration: underline;
		}
	</style>
</Layout>