---

import Layout from "@layouts/Layout.astro";
import Main from "@components/Main.astro";
import H3 from "@components/H1.astro";
---

<Layout title="About me">
  <Main>
    <H3 text="About me"></H3>
    <p>i'm a software engineer with passion to discover thing and help people through the tech.</p>
  </Main>
</Layout>
