---
const items = [
  {
    title: 'Home',
    path: '/'
  },
  {
    title: 'Blog',
    path: '/blog'
  },
  {
    title: 'About',
    path: '/about'
  }
]
---

<div class="flex bg-black text-white">
  <div class="font-bold text-lg ml-4">
    Ramblings of a mad Man
  </div>

  <div class="">
    <ul class="flex">
      {items.map(item => (
        <li><a class="p-4 color:black block hover:bg-gray-700" href={item.path}>{item.title}</a></li>
      ))}
    </ul>
  </div>
</div>